body {
    font-family: Roboto;
}

label {
    margin-bottom: 15px;
}

.c-title {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

.card {
    width: 12rem;
    align-items: center;
    justify-content: center;
    height: 15rem;
    margin-top: 30px;
    transition: 0.3s;
    border-radius: 12px;
    text-decoration: none;
}

    .card:hover {
        background-color: #55A2BF;
        color: white;
        text-decoration: none;
    }

.card-title {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: xx-large;
    color: white;
    text-decoration: none;
}

.c-create-quiz {
    display: flex;
    justify-content: center;
    font-size: x-large;
    align-content: center;
    align-items: center;
}

.card-text {
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.c-score {
    display: flex;
    justify-content: center;
}

.c-form {
    display: flex;
    justify-content: center;
}

.c-group-size {
    width: 1000px;
}

.c-form-choices {
    display: flex;
    justify-content: space-between;
}

.form-control-large {
    width: 350px;
}

.c-questions {
}

.c-question {
}

.c-questionTitle {
    display: flex;
    justify-content: center;
    font-size: x-large;
    color: white;
}

.c-questionImage {
}

.c-choices {
    /* margin-top: 60px; */
    /* margin-bottom: 50px; */
    display: flex;
    justify-content: space-around;
    font-size: medium;
    overflow: auto;
    height: 270px;
    align-items: center;
}

    .c-choices ul li {
        display: inline-flex;
    }

    .c-choices ul {
        display: inline-flex;
        padding-left: 0px;
        justify-content: center;
    }

.c-radiobtn {
}

ul li input[type=radio] {
    position: absolute;
    visibility: hidden;
}

ul li label {
    display: block;
    position: relative;
    font-weight: 300;
    font-size: 1.35em;
    margin: 10px auto;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
}

ul li:hover label {
    color: #FFFFFF;
}

ul li .check {
    display: none;
    position: absolute;
    border: 5px solid #AAAAAA;
    border-radius: 100%;
    height: 25px;
    width: 25px;
    top: 30px;
    left: 20px;
    z-index: 5;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
}

ul li:hover .check {
    border: 5px solid #FFFFFF;
}

ul li .check::before {
    display: block;
    position: absolute;
    content: '';
    border-radius: 100%;
    height: 15px;
    width: 15px;
    top: 5px;
    left: 5px;
    margin: auto;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
}

input[type=radio]:checked ~ .check {
    border: 5px solid #0DFF92;
}

    input[type=radio]:checked ~ .check::before {
        background: #0DFF92;
    }

input[type=radio]:checked ~ label {
    color: #0DFF92;
}


    input[type=radio]:checked ~ label .c-choiceImage {
        border-color: currentColor;
    }

.c-choice {
    color: #0DFF92;
    display: flex;
    justify-content: center;
    font-size: x-large;
}

.c-choice--incorrect {
    color: orangered;
    display: flex;
    justify-content: center;
    font-size: x-large;
}

.c-choiceImage {
    width: 150px;
    display: flex;
    align-self: center;
    border: 4px solid transparent;
}

.c-submitBtn {
    display: flex;
    justify-content: center;
}

.c-board {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.c-scoreboard {
    border: solid rgb(181, 137, 0) 3px;
    border-radius: 12px;
    width: 75%;
}

.c-highscore-entries {
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.c-highscore-record {
    width: 700px;
}

.c-highscore-record-ul {
    display: flex;
    justify-content: space-around;
    padding-left: 0px;
}

.c-cups {    
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-bottom: 50px;
    align-items: center;
}

.c-cup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.c-cup__item {
    height: 100px;
    margin-bottom: 1rem;
}

.c-cup__item--gold {
    height: 140px;
}


.c-highscores-box-ul {
    list-style-type: none;
    justify-content: space-between;
    padding-left: 0px;
}

.c-highscores-box-li {
    display: inline;
}

.table td, .table th {
    border-color: transparent;
}

.table {
    margin: 0 3rem 1rem;

}
